{
    "openapi": "3.0.0",
    "info": {
        "title": "API Ve mi Tienda",
        "description": "Se inicia sesión, Auth->login, se toma el token y se ingresa arriba en el botón Authorize",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://vemitiendabackend.tests/api/v1/"
        }
    ],
    "paths": {
        "/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Mostrar Categorías para Usuario de la App",
                "operationId": "487cb1da6c7cac44da0d8bf04b16ba85",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Crear nueva categoría de un Usuario App",
                "operationId": "63ddd258f5f535800f6d82fb9fb6d5a0",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {}
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Ver categoría de un Usuario App por Id",
                "operationId": "8ea23abffbb1efe0621f8e1b9ab028a4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "Actualizar categoría de un Usuario App",
                "operationId": "0684137f88c06f27bba84b1ba89717ec",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Nombre de la Categoría",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Categories"
                ],
                "summary": "Borrar categoría de un Usuario App",
                "operationId": "6a7b4e6ffe2251f8f26ac76ea1fc4b4a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/company-user": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Mostrar los datos de la Empresa del Usuario de la App",
                "operationId": "c81c57a22b280dd0807ec5923b9d3c7f",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Company"
                ],
                "summary": "Si la Empresa no existe, la crea y si la empresa existe entonces la actualiza",
                "operationId": "73c33f62482b88b25b1a8cc11ce55c27",
                "requestBody": {
                    "description": "Datos de la Empresa",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "name",
                                    "slogan",
                                    "phone"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "sistelconet@gmail.com"
                                    },
                                    "name": {
                                        "type": "string",
                                        "format": "name",
                                        "example": "Sistelconet El Tigre"
                                    },
                                    "slogan": {
                                        "type": "string",
                                        "format": "slogan",
                                        "example": "Tu Solución en Sistemas"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "format": "phone",
                                        "example": "+584248807465"
                                    },
                                    "theme_id": {
                                        "type": "integer",
                                        "format": "phone",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/company/{id}": {
            "delete": {
                "tags": [
                    "Company"
                ],
                "summary": "Borrar categoría de un Usuario App",
                "operationId": "d70242fba1f19b199fc885a114092bee",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/storeLogo": {
            "post": {
                "tags": [
                    "Logo"
                ],
                "summary": "Crear logo de Empresa",
                "operationId": "c02940ca283f321e907a52e30ae26449",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "folder": {
                                        "description": "Folder de la imagen",
                                        "type": "string",
                                        "format": "text",
                                        "default": "logo"
                                    },
                                    "image": {
                                        "description": "subir imagen",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "thumbnail": {
                                        "description": "Miniatura",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/storeImageProduct/{product_id}": {
            "post": {
                "tags": [
                    "Products"
                ],
                "summary": "Crear logo de Empresa",
                "operationId": "1f737b584cbb8b35c95148e16bf036f3",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "folder": {
                                        "description": "Folder de la imagen",
                                        "type": "string",
                                        "format": "text",
                                        "default": "images"
                                    },
                                    "image": {
                                        "description": "subir imagen",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "thumbnail": {
                                        "description": "Miniatura",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/updateImageProduct/{image_id}": {
            "post": {
                "tags": [
                    "Products"
                ],
                "summary": "Crear logo de Empresa",
                "operationId": "04fb494e58bcd71c53de96983d1682b5",
                "parameters": [
                    {
                        "name": "image_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "folder": {
                                        "description": "Folder de la imagen",
                                        "type": "string",
                                        "format": "text",
                                        "default": "images"
                                    },
                                    "image": {
                                        "description": "subir imagen",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "thumbnail": {
                                        "description": "Miniatura",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/deleteImageProduct/{image_id}": {
            "delete": {
                "tags": [
                    "Products"
                ],
                "summary": "Borrar imagen de un Producto",
                "operationId": "17123540ceeab893b1d032e9348ff017",
                "parameters": [
                    {
                        "name": "image_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/products-user": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Mostrar los productos del Usuario de la App",
                "operationId": "d239b30ada0789f70403de548ff35391",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Products"
                ],
                "summary": "Crear Producto de un Usuario App",
                "operationId": "31107d028b12319ba5a1fdb409022172",
                "requestBody": {
                    "description": "Datos del Producto",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "category_id",
                                    "name",
                                    "description",
                                    "price",
                                    "share"
                                ],
                                "properties": {
                                    "category_id": {
                                        "type": "string",
                                        "format": "category_id",
                                        "example": "4"
                                    },
                                    "name": {
                                        "type": "string",
                                        "format": "name",
                                        "example": "Product X"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "description",
                                        "example": "Descripción del producto de prueba"
                                    },
                                    "price": {
                                        "type": "string",
                                        "format": "price",
                                        "example": "100"
                                    },
                                    "share": {
                                        "type": "string",
                                        "format": "share",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/products-user/{id}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Ver producto de un Usuario App por Id",
                "operationId": "044b4c485d1ef88fdf41ce1c21858a4f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Products"
                ],
                "summary": "Actualizar producto de un Usuario App",
                "operationId": "b48fb1542e2268bb33cc0a422cf55813",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "description": "Datos del producto",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "category_id",
                                    "name",
                                    "description",
                                    "price",
                                    "share"
                                ],
                                "properties": {
                                    "category_id": {
                                        "type": "string",
                                        "format": "category_id",
                                        "example": "4"
                                    },
                                    "name": {
                                        "type": "string",
                                        "format": "name",
                                        "example": "Product X"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "description",
                                        "example": "Descripción del producto de prueba"
                                    },
                                    "price": {
                                        "type": "string",
                                        "format": "price",
                                        "example": "100"
                                    },
                                    "share": {
                                        "type": "string",
                                        "format": "share",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/products/{id}": {
            "delete": {
                "tags": [
                    "Products"
                ],
                "summary": "Borrar producto de un Usuario App",
                "operationId": "23797433772c37cf0742953102ab0112",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/templates": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Mostrar plantillas para el catálogo de productos que exporta la App",
                "operationId": "172b641a4f1ca650a58e61716eff304d",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/user-information": {
            "get": {
                "summary": "Mostrar Información del Usuario de la App",
                "operationId": "7ba535b69ac822f82129f3610b6ac46d",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "User Login",
                "description": "Login User Here",
                "operationId": "authLogin",
                "requestBody": {
                    "description": "Datos de la Empresa",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "administrador@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Login Successfully",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "200": {
                        "description": "Login Successfully",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Desloguear usuario",
                "operationId": "7c822f4eec9424890f34674874012768",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/cancel-account": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Dar de baja al usuario",
                "operationId": "73acaae339ec1746a5c1c6214654850e",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        }
    },
    "tags": [
        {
            "name": "Auth",
            "description": "Auth de la aplicación"
        },
        {
            "name": "Categories",
            "description": "Endpoints de Categorías"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearer_token": {
                "type": "apiKey",
                "description": "Ingresa el Token con la palabra Bearer, así: Bearer <token>",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}