{
    "openapi": "3.0.0",
    "info": {
        "title": "API Ve mi Tienda",
        "description": "Se inicia sesión, Auth->login, se toma el token y se ingresa arriba en el botón Authorize",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://vemitiendabackend.tests/api/v1/"
        }
    ],
    "paths": {
        "/categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Mostrar Categorías para Usuario de la App",
                "operationId": "228d36883ec25e90557f1e30d8bbe036",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Crear nueva categoría de un Usuario App",
                "operationId": "aa6d4695fe4121d0fdc36e3bae2b5a56",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {}
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Ver categoría de un Usuario App por Id",
                "operationId": "12ffe18d17e577130c9243c4539a7b3a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "Actualizar categoría de un Usuario App",
                "operationId": "b47545a84a363cc5cfe16a8c761d4dad",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Nombre de la Categoría",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Categories"
                ],
                "summary": "Borrar categoría de un Usuario App",
                "operationId": "a5032937e5f16f4cfe1beea390727d58",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/company-user": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Mostrar los datos de la Empresa del Usuario de la App",
                "operationId": "6f04fc576db29466780120374d438262",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Company"
                ],
                "summary": "Si la Empresa no existe, la crea y si la empresa existe entonces la actualiza",
                "operationId": "f4c2614f7266b8d3c8c28f1b8adb49af",
                "requestBody": {
                    "description": "Datos de la Empresa",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "name",
                                    "slogan",
                                    "phone"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "sistelconet@gmail.com"
                                    },
                                    "name": {
                                        "type": "string",
                                        "format": "name",
                                        "example": "Sistelconet El Tigre"
                                    },
                                    "slogan": {
                                        "type": "string",
                                        "format": "slogan",
                                        "example": "Tu Solución en Sistemas"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "format": "phone",
                                        "example": "+584248807465"
                                    },
                                    "theme_id": {
                                        "type": "integer",
                                        "format": "phone",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/company/{id}": {
            "delete": {
                "tags": [
                    "Company"
                ],
                "summary": "Borrar categoría de un Usuario App",
                "operationId": "c843a200fa9f8a5656f842c43f7ddafa",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/storeLogo": {
            "post": {
                "tags": [
                    "Logo"
                ],
                "summary": "Crear logo de Empresa",
                "operationId": "1d8753a79835382a37ea5c60dcb237c2",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "folder": {
                                        "description": "Folder de la imagen",
                                        "type": "string",
                                        "format": "text",
                                        "default": "logo"
                                    },
                                    "image": {
                                        "description": "subir imagen",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "thumbnail": {
                                        "description": "Miniatura",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/storeImageProduct/{product_id}": {
            "post": {
                "tags": [
                    "Products"
                ],
                "summary": "Crear logo de Empresa",
                "operationId": "6345fb44cd9d07e6b3697b0bd63eac36",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "folder": {
                                        "description": "Folder de la imagen",
                                        "type": "string",
                                        "format": "text",
                                        "default": "images"
                                    },
                                    "image": {
                                        "description": "subir imagen",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "thumbnail": {
                                        "description": "Miniatura",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/updateImageProduct/{image_id}": {
            "post": {
                "tags": [
                    "Products"
                ],
                "summary": "Crear logo de Empresa",
                "operationId": "b46aa27ebfc4ae083c593d72bcb71d37",
                "parameters": [
                    {
                        "name": "image_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "folder": {
                                        "description": "Folder de la imagen",
                                        "type": "string",
                                        "format": "text",
                                        "default": "images"
                                    },
                                    "image": {
                                        "description": "subir imagen",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "thumbnail": {
                                        "description": "Miniatura",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/deleteImageProduct/{image_id}": {
            "delete": {
                "tags": [
                    "Products"
                ],
                "summary": "Borrar imagen de un Producto",
                "operationId": "41f933c768eb694a23dcc8cd9131e792",
                "parameters": [
                    {
                        "name": "image_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/products-user": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Mostrar los productos del Usuario de la App",
                "operationId": "15a318fcf170ad2f13c34c991c8069ea",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Products"
                ],
                "summary": "Crear Producto de un Usuario App",
                "operationId": "af132bd42aa2667f7cd404fb30d86750",
                "requestBody": {
                    "description": "Datos del Producto",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "category_id",
                                    "name",
                                    "description",
                                    "price",
                                    "share"
                                ],
                                "properties": {
                                    "category_id": {
                                        "type": "string",
                                        "format": "category_id",
                                        "example": "4"
                                    },
                                    "name": {
                                        "type": "string",
                                        "format": "name",
                                        "example": "Product X"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "description",
                                        "example": "Descripción del producto de prueba"
                                    },
                                    "price": {
                                        "type": "string",
                                        "format": "price",
                                        "example": "100"
                                    },
                                    "share": {
                                        "type": "string",
                                        "format": "share",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/products-user/{id}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Ver producto de un Usuario App por Id",
                "operationId": "995cf64a31f886d07c5e149328c5c50d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Products"
                ],
                "summary": "Actualizar producto de un Usuario App",
                "operationId": "ea63301f0a7d18f56aa74f154b0e78e2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "description": "Datos del producto",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "category_id",
                                    "name",
                                    "description",
                                    "price",
                                    "share"
                                ],
                                "properties": {
                                    "category_id": {
                                        "type": "string",
                                        "format": "category_id",
                                        "example": "4"
                                    },
                                    "name": {
                                        "type": "string",
                                        "format": "name",
                                        "example": "Product X"
                                    },
                                    "description": {
                                        "type": "string",
                                        "format": "description",
                                        "example": "Descripción del producto de prueba"
                                    },
                                    "price": {
                                        "type": "string",
                                        "format": "price",
                                        "example": "100"
                                    },
                                    "share": {
                                        "type": "string",
                                        "format": "share",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/products/{id}": {
            "delete": {
                "tags": [
                    "Products"
                ],
                "summary": "Borrar producto de un Usuario App",
                "operationId": "ac647a80b01a33eb00fdcd52fb26caf8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/company-theme": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Mostrar los temas disponibles",
                "operationId": "74ad6f3669fb373a5a3ac03c515e4020",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/user-information": {
            "get": {
                "summary": "Mostrar Información del Usuario de la App",
                "operationId": "893938bfaa8a0c0a151576c8fa0637e7",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "User Login",
                "description": "Login User Here",
                "operationId": "authLogin",
                "requestBody": {
                    "description": "Datos de la Empresa",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "administrador@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Login Successfully",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "200": {
                        "description": "Login Successfully",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Desloguear usuario",
                "operationId": "44f840e0e6715faeb943540b44d5c1bc",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        },
        "/cancel-account": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Dar de baja al usuario",
                "operationId": "b6554db81114fa12ae99b4db1831ae94",
                "responses": {
                    "200": {
                        "description": "Exitoso"
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                },
                "security": [
                    {
                        "bearer_token": []
                    }
                ]
            }
        }
    },
    "tags": [
        {
            "name": "Auth",
            "description": "Auth de la aplicación"
        },
        {
            "name": "Categories",
            "description": "Endpoints de Categorías"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearer_token": {
                "type": "apiKey",
                "description": "Ingresa el Token con la palabra Bearer, así: Bearer <token>",
                "name": "Authorization",
                "in": "header"
            }
        }
    }
}