.header-section.header-cl-black.active {
    opacity: 0.9;
}

/* Estilos para el margen en pantallas grandes */
@media screen and (min-width: 768px) {
    .banner-content-3 {
        margin-top: -250px;
    }
}

/* Estilos para el margen en dispositivos móviles */
@media screen and (max-width: 767px) {
    .banner-content-3 {
        margin-top: 50px;
    }
}

.widget-tags ul li a:hover, .widget-tags ul li a.active {
    color: #504c89;
}

.widget-search button {
    color: #504c89;
}

.widget-post .slider-nav span:hover, .widget-post .slider-nav span.active {
    color: #504c89;
}

.pagination-area a.active {
    color: #7a89bb;
}

h2 {
    font-size: 34px;
}
